<% provide(:title, 'About') %>

<h1>About Where to Watch</h1>
<p>Where to Watch as a site was created in Ruby on Rails by me, <a href="http://clarkbarz.github.io">Scott Clark</a>, as a project in order to both help others easily navigate the multitude of TV viewing sites on the web and further develop my skills in <a href="http://rubyonrails.org">RoR</a>.</p>
