<% provide(:title, 'About') %>
<h1>About Where to Watch</h1>
<p>Where to Watch as a site was created in Ruby on Rails by <a href="clarkbarz.github.io">Scott Clark</a> as a project in order to both help others easily navigate the multitude of TV viewing sites on the web and further develop his skills in <a href="rubyonrails.org">RoR</a>.</p>
