<% provide(:title, 'Home') %>

<h1 class="center">Where to Watch</h1>
<p class="center">
	This app was created to provide you with the web's best options for viewing all your favorite tv shows, both new and old.<br>
</p>

<h3 class="center sign-up-btn"><%= link_to "Sign up!", signup_path %></h3>