<% provide(:title, 'Home') %>

<h1 class="center">Where to Watch</h1>
<p class="center">This app was created to provide you with the best websites for viewing all your favorite tv shows, both new and old.</p>