@import "bootstrap";

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding: 20px 20px 40px 20px;
	font-family: 'Open Sans', sans-serif;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

header {
	padding-bottom: 60px;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.content {
/*	width: 60%;
	margin-left: 20%;*/
	a {
		text-decoration: none;
		color: #1354D1;
		border-bottom: 2px #FCFCFC solid;
		-webkit-transition: 0.3s ease;
		-moz-transition:    0.3s ease;
		-o-transition:      0.3s ease;
		&:hover {
			color: #0E3D99;
			border-bottom: 2px #0E3D99 solid;
			-webkit-transition: 0.3s ease;
			-moz-transition:    0.3s ease;
			-o-transition:      0.3s ease;
		}
	}

}

.sign-up-btn {
	margin-top: 50px;
	a {
		padding: 10px 30px;
		border: 3px solid #7792C7;
		text-decoration: none;
		color: #2A5FC5;
		-webkit-transition: 0.4s ease;
		-moz-transition:    0.4s ease;
		-o-transition:      0.4s ease;
		&:hover {
			border: 3px solid #1354D1;
			color: #0E3D99;
			-webkit-transition: 0.4s ease;
			-moz-transition:    0.4s ease;
			-o-transition:      0.4s ease;
		}
	}
}
a {
	text-decoration: none;
	color: #1354D1;
	border-bottom: 2px #FCFCFC solid;
	-webkit-transition: 0.4s ease;
	-moz-transition:    0.4s ease;
	-o-transition:      0.4s ease;
	&:hover {
		color: #0E3D99;
		border-bottom: 2px #0E3D99 solid;
		-webkit-transition: 0.4s ease;
		-moz-transition:    0.4s ease;
		-o-transition:      0.4s ease;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
}

h1 {
	margin-bottom: 30px;
}

p {
	line-height: 1.7em;
}

/* header */

.menu-heading {
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: -0.5px;
	float: left;
	margin-right: 5px;
}

.menu {
	display: inline;
	list-style-type: none;
	/*padding-right: 20px;*/

	a {
		text-decoration: none;
		color: #000000;
		padding: 5px 10px 5px 10px;
		border: 2px White solid;
		-webkit-transition: 0.4s ease;
		-moz-transition:    0.4s ease;
		-o-transition:      0.4s ease;
		&:hover {
			border: 2px DarkGray solid;
			-webkit-transition: 0.4s ease;
			-moz-transition:    0.4s ease;
			-o-transition:      0.4s ease;
		}
	}

	.menu-heading a:hover {
		border: 2px #000000 solid;
	}
}

.navbar {
	padding: 11px 10px 0 10px;
	/*border-top: 2px DarkGray solid;*/
	border: 2px DarkGray solid;
}

.pull-right {
	padding-right: 20px;
}

/*#logo {
	font-weight: bold;
	padding-top: 5px;
	color: #000000;
}*/