@import "bootstrap";

/* mixins, variables, stc. */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin slow_transition {
	-webkit-transition: 0.4s ease;
	-moz-transition:    0.4s ease;
	-o-transition:      0.4s ease;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding: 20px 20px 40px 20px;
	font-family: 'Open Sans', sans-serif;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

header {
	padding-bottom: 60px;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

a {
	text-decoration: none;
	color: #1354D1;
	border-bottom: 1px #FCFCFC solid;
	@include slow_transition;
	&:hover {
		color: #0E3D99;
		border-bottom: 1px #0E3D99 solid;
		@include slow_transition;
	}
}

.content a {
	text-decoration: none;
	color: #1354D1;
	border-bottom: 1px #FCFCFC solid;
	@include slow_transition;
	&:hover {
		color: #0E3D99;
		border-bottom: 1px #0E3D99 solid;
		@include slow_transition;
	}
}

.sign-up-btn {
	margin-top: 50px;
	a {
		padding: 10px 30px;
		border: 3px solid #7792C7;
		text-decoration: none;
		color: #2A5FC5;
		@include slow_transition;
		&:hover {
			border: 3px solid #1354D1;
			color: #0E3D99;
			@include slow_transition;
		}
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
}

h1 {
	margin-bottom: 30px;
}

p {
	line-height: 1.7em;
}

/* header */

.menu-heading {
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: -0.5px;
	float: left;
	margin-right: 5px;
}

.menu {
	display: inline;
	list-style-type: none;
	a {
		text-decoration: none;
		color: #000000;
		padding: 5px 10px 5px 10px;
		border: 2px white solid;
		@include slow_transition;
		&:hover {
			border: 2px DarkGray solid;
			@include slow_transition;
		}
	}

	.menu-heading a:hover {
		border: 2px #000000 solid;
	}
}

.navbar {
	padding: 11px 10px 0 10px;
	border-bottom: 2px LightGray solid;
	background-color: white;
}

.pull-right {
	padding-right: 20px;
}

/* sign-up and sign in page */

.submit-button {
	background-color: white;
	border: 2px solid DarkGray;
	padding: 10px 15px;
	margin-top: 20px;
	@include slow_transition;
	&:hover {
		border: 2px solid orange;
		@include slow_transition;
	}
}

/* forms */

#error-explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* sidebar */

/*aside {
	section {
	}
	span {

	}
	h1 {

	}
}*/

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}