@import "bootstrap";

/* mixins, variables, stc. */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin slow_transition {
	-webkit-transition: 0.4s ease;
	-moz-transition:    0.4s ease;
	-o-transition:      0.4s ease;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding: 20px 20px 40px 20px;
	font-family: 'Open Sans', sans-serif;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

header {
	padding-bottom: 60px;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

a {
	text-decoration: none;
	color: #1354D1;
	border-bottom: 1px #FCFCFC solid;
	@include slow_transition;
	&:hover {
		color: #0E3D99;
		border-bottom: 1px #0E3D99 solid;
		@include slow_transition;
	}
}

.content a {
	text-decoration: none;
	color: #1354D1;
	border-bottom: 1px #FCFCFC solid;
	@include slow_transition;
	&:hover {
		color: #0E3D99;
		border-bottom: 1px #0E3D99 solid;
		@include slow_transition;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
}

h1 {
	margin-bottom: 30px;
}

p {
	line-height: 1.7em;
}

/* header */

.menu {
	display: inline;
	list-style-type: none;
	a {
		text-decoration: none;
		color: #000000;
		padding: 5px 10px 5px 10px;
		border: 2px white solid;
		@include slow_transition;
		&:hover {
			border: 2px DarkGray solid;
			@include slow_transition;
		}
	}
}

#menu-heading a {
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: -0.5px;
	color: #000000;
/*	&:hover {
		border-top: 2px green solid;
		border-right: 2px orange solid;
		border-bottom: 2px #2A5FC5 solid;
		border-left: 2px black solid;
	}*/
}

.navbar {
	padding: 11px 10px 0 10px;
	border-bottom: 2px LightGray solid;
	background-color: white;
}

.pull-right {
	padding-right: 20px;
}

/* buttons */

.sign-up-button {
	margin-top: 50px;
	a {
		padding: 10px 30px;
		border: 3px solid #7792C7;
		text-decoration: none;
		color: #2A5FC5;
		@include slow_transition;
		&:hover {
			border: 3px solid #1354D1;
			color: #0E3D99;
			@include slow_transition;
		}
	}
}

.wtw-button {
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	border: 2px solid DarkGray;
	padding: 5px 16px;
	margin: 10px 0 10px 0;
	@include slow_transition;
	&:hover {
		@include slow_transition;
	}
}

.submit-button {
	&:hover {
		border: 2px solid green;
	}
}

.edit-button {
	&:hover {
		border: 2px solid orange;
	}
}

.cancel-button {
	border: 2px solid DarkGray;
	&:hover {
		border: 2px solid gray;
	}
}

/* forms */

#error-explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* edit user page */

#email-form {
	display: none;
}
#password-form {
	display: none;
}

/* user index */
.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid #CCCCCC; /* gray80 */
		&:last-child {
			border-bottom: 1px solid #CCCCCC;
		}
	}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}