<header class="pure-menu pure-menu-open pure-menu-horizontal">
	<a href="/" class="pure-menu-heading" id="logo">Where to Watch</a>
	<ul>
		<li class="pure-menu-selected"><%= link_to "About", about_path %></li>
		<li class="pure-menu-selected user-service"><%= link_to "Sign in", '#' %></li>
	</ul>
</header>